<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>nodechat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style type="text/css">
      nav {
        margin-top: 10px;
      }
      input {
        margin-top: 5px;
      }
      h5 {
        color: #737373;
      }
    </style>
    <script>
      function ChatController ($scope) {
        var socket = io.connect();

        //Scope properties
        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        //Listen to connect event
        socket.on('connect', function () {
          $scope.setName();
        });

        //Listen to message event
        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
        });

        //Listen to roster update event
        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        //Sending a message
        $scope.send = function send () {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        //Keeping track of the user name
        $scope.setName = function setName () {
          socket.emit('identify', $scope.name);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">nodechat</a>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row">
        <div class="col-md-4">
          <h5>Users</h5>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in roster" ng-bind="user">
          </ul>
        </div>
        <div class="col-md-8">
          <h5>Messages</h5>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>User</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td ng-bind="msg.name"></td>
                <td ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div>
            <form ng-submit="send()">
              <div class="row">
                <div class="col-md-3">
                  <input type="text" class="form-control" ng-model="name" ng-change="setName()" placeholder="User name">
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" ng-model="text" placeholder="Message">
                </div>
                <div class="col-md-2">
                  <input type="submit" class="btn btn-primary" style="float: right" value="Send" ng-disabled="!text">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
